<!DOCTYPE html>
<html lang="zh-CN" xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="bookmark" href="/static/img/favicon.ico"/>
    <title>关于</title>
    <link rel="stylesheet" href="/static/css/mblog.css">
</head>
<body>
<main id="about">
    <h3>关于我</h3>

    <p>
    我叫李粤强，是一个自学的程序猿，同时是个残疾人。从2015年开始接触python，到2016年用python写了这个博客，其中参考了廖雪峰的python实战教程，但代码经过大幅度的重构和优化，具体可以看本站的重构系列。
    </p>
    <p>
    这里是我学习web开发的起点，从python到php再到java EE，一年见识过三种语言的Web开发模式也是挺那啥的，我也觉得自己是有点花心，但我喜欢对全局有个认识之后才开始深入。有很多概念都是跨语言的，比如说SQL，再比如说缓存，在任何一种后端语言都是有相应的接口的。我是一个喜欢寻找共性的人，大多数相似的事物从根本上是一致的，只是在细枝末节才存在各种不同。个人认为那些根本的东西才是最重要的，比如说ORM的框架那么多套，各种语言各种语法都不一致，学起非常费时费力，但它们的根本都是构成SQL语句，只要学好原生的SQL，就很容易适应各种ORM框架的语法了。好像又扯到技术层面的，我就是这样一个喜欢热爱技术热爱学习的人，于是才有了这个技术型的博客站点。
    </p>

    <hr>
    <h3>关于这里</h3>

    <p>
    这里是我分享技术知识的地方，大部分是编程方面的技术知识，目前没有写随笔杂记的打算，多是分享自己的经历和经验，我觉得一些有更大价值的文学，不会有无病呻吟，有病也不会在这里呻吟。目前这里的篇幅是比乱的，因为我本身学得比较杂，这站点的前后端都是我自己写的，知识点比较凌乱我也是知道的，现在不知道从哪里开始整理，不过已经开始着手这样的工作了，这里我也会一直维护下去的，至少三年内不会搬迁，文章尽量做到一周两更，能拿出手的都是干货，我希望一年后这这里会变成这样的。
    </p>

    <hr>
    <h3>做过的项目：</h3>
    <ul id="project-list">
        <li>
        <a href="https://github.com/moling3650/mblog" target="_blank">mblog
        </a>
        本站的源代码仓库
        </li>
        <li>
        <a href="https://github.com/moling3650/mblog-Flask" target="_blank">mblog-Flask
        </a>
        站的Flask框架的实现，实验性质，多数功能已实现</li>
        <li><a href="https://github.com/moling3650/maizi-downloader" target="_blank">maizi-downloader</a>
        麦子学院视频批量下载器，现已被反爬虫</li>
        <li><a href="https://github.com/moling3650/get_J2L_images" target="_blank">get_J2L_images
        </a>
        原jav2lib的封面图定向爬虫，翻墙可用</li>
    </ul>
    <hr>
    <h3>联系我：</h3>
    <ul>
        <li>email: 365024424@qq.com</li>
        <li>GitHub: https://github.com/moling3650</li>
    </ul>

</main>

    <footer id="footer">
        <div>
            <p>Powered by <a href="http://v3.bootcss.com/">Bootstrap</a></p>
            <p><a href="http://www.miitbeian.gov.cn">粤ICP备16049607号-1</a> © 2016 mblog</p>
            <p><a href="//www.qiangtaoli.com" target="_blank">www.qiangtaoli.com</a>. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>