{% extends 'bootstrap-base.html' %}

{% block title %}test{% endblock %}

{% block content %}
<ul class="pagination" id="app">
    <li v-for="n in last+1 | filterBy myFilter" :class="{active: index===(n)}">
        <a href="#" v-text="n"></a>
    </li>
</ul>
<ul class="pagination">
    {% for i in range(10) if i < 5 %}
    <li><a href="#">{{i}}</a></li>
    {% endfor %}

</ul>
{% endblock %}

{% block script %}
<script src="/static/js/awesome.js"></script>
<script src="/static/js/vue.min.v1.js"></script>
<script>
Vue.config.delimiters = ['${', '}']
new Vue({
    el: '#app',
    data: {
        index: 19,
        last: 20,
    },
    methods: {
        myFilter: function(n){
            return (n === 1) || (n === this.last) || (Math.abs(n - this.index) < 3);
        }
    }
})
</script>
{% endblock %}
