<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Mblog Python Webapp</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="bookmark" href="/static/img/favicon.ico"/>
    <!-- uikit 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/uikit/2.26.3/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/components/sticky.min.css" />

    <link rel="stylesheet" href="/static/css/pygments.css" />
    <link rel="stylesheet" href="/static/css/mblog.css">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=366603916" type="text/javascript" charset="utf-8"></script>
    {% block beforehead %}<!-- before head  -->{% endblock %}

</head>


<body style="background-color: #fff;">
    <nav class="tm-navbar uk-navbar uk-navbar-attached" data-uk-sticky>
        <div class="uk-container uk-container-center">
            <a class="uk-navbar-brand uk-hidden-small" href="/bootstrap/" style="background: #563d7c;">
                <img src="/static/img/bootstrap.png" alt="Brand-other-index" style="height: 42px;" />
            </a>

            <ul class="uk-navbar-nav uk-hidden-small" id="navbar-left">
                <li><a href="/uk/"><i class="uk-icon-home"></i> Home</a></li>
                <li><a href="/uk/manage"><i class="uk-icon-book"></i> Manage</a></li>
                <li><a href="//github.com/moling3650/mblog" target="_blank"><i class="uk-icon-code"></i> code</a></li>
            </ul>
            <ul class="uk-navbar-nav uk-navbar-flip">
                {% if __user__ %}
                <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="true">
                    <a href="#"><i class="uk-icon-user"></i> <span class="uk-hidden-small">{{ __user__.name }}</span> <i class="uk-icon-caret-down"></i></a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
                        <ul class="uk-nav uk-nav-navbar">
                            {% if __user__.admin %}
                            <li><a href="/uk/manage/blogs/create"><i class="uk-icon-pencil"></i> New Blog</a></li>
                            {% endif %}
                            <li><a href="/signout"><i class="uk-icon-sign-out"></i> Sign Out</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li><a href="https://api.weibo.com/oauth2/authorize?client_id=366603916&amp;redirect_uri=http://www.qiangtaoli.com/oauth2"><i class="uk-icon-weibo"></i></a></li>
                <li><a href="/uk/signin"><i class="uk-icon-sign-in"></i><span class="uk-hidden-small"> Sign In</span></a></li>
                <li><a href="/uk/register"><i class="uk-icon-registered"></i><span class="uk-hidden-small"> Register</span></a></li>
                {% endif %}
            </ul>
            <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
            <a class="uk-navbar-brand uk-navbar-center uk-visible-small" href="/">
                <img src="/static/img/bootstrap.png" alt="Brand-other-index" style="height: 42px;" />
            </a>
        </div>
    </nav>
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <a id="go-top" href="javascript:void(0);" title="go-top" hidden="hidden"><i class="uk-icon-arrow-up uk-icon-large"></i></a>

    <footer class="uk-margin-large-top" style="background-color:#ddd; border-top:1px solid #aaa;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="http://weibo.com/moling3650" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="https://github.com/moling3650" class="uk-icon-button uk-icon-github"></a>
                </p>
                <p>Powered by <a href="http://getuikit.net">uikit</a></p>
                <p><a href="http://www.miitbeian.gov.cn">粤ICP备16049607号-1</a> © 2016 mblog</p>
                <p><a href="www.qiangtaoli.com" target="_blank">www.qiangtaoli.com</a>. All rights reserved.</p>
            </div>
        </div>
    </footer>


    <nav id="tm-offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas">
                <li><a href="/uk/"> Home</a></li>
                <li><a href="/uk/manage"> Manage</a></li>
                <li><a href="//github.com/moling3650/mblog" target="_blank"> code</a></li>
            </ul>
        </div>
   </nav>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- uikit 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/uikit/2.26.3/js/uikit.min.js"></script>
    <script src="/static/js/components/sticky.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script>
        $('.uk-navbar-brand').attr('href', location.href.replace('/uk/', '/bootstrap/'));
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>