{% extends 'uk-base.html' %}

{% block title %}日志{% endblock %}

{% block content %}

    <div class="uk-width-large-3-4 uk-width-small-1-1 uk-margin-left">
        {% for blog in blogs %}
        <div class="uk-grid-margin" >
            <div class="uk-width-1-1">
                <article class="uk-article">
                    <h3 class="uk-article-title uk-text-truncate"><a href="blog/{{ blog.id }}">{{ blog.name }}</a></h3>
                    <p class="uk-article-meta"><small>发表于 {{ blog.created_at|datetime }}</small></p>
                    <hr class="uk-article-divider" />
                    <p>{{ blog.content|safe }}</p>
                </article>
            </div>
        </div>
        {% endfor %}
    </div>

    <nav class="uk-width-1-1 uk-margin-top">
        <ul class="uk-pagination">
            {% if page.index == 1 %}
                <li class="uk-active"><span>1</span></li>
            {% else %}
                <li><a href="?page=1&size={{page.limit}}" >1</a></li>
            {% endif %}
            {% if (page.index - 1) > 3 %}
                <li class="disabled"><span>...</span></li>
            {% endif %}
            {% for index in range(2, page.last) if (index - page.index) | abs < 3 %}
                {% if page.index == index %}
                    <li class="uk-active"><span>{{index}}</span></li>
                {% else %}
                    <li><a href="?page={{index}}&size={{page.limit}}" >{{index}}</a></li>
                {% endif %}
            {% endfor %}
            {% if (page.last - page.index) > 3 %}
                <li class="disabled"><span>...</span></li>
            {% endif %}
            {% if page.last > 1 and page.index == page.last %}
                <li class="uk-active"><span>{{page.last}}</span></li>
            {% elif page.last > 1 %}
                <li><a href="?page={{page.last}}&size={{page.limit}}" >{{page.last}}</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}