{% extends 'uk-base.html' %}

{% block title %}日志{% endblock %}

{% block content %}

    <div class="uk-width-large-3-4 uk-width-small-1-1 uk-margin-left">
        {% for blog in blogs %}
        <div class="uk-grid-margin" >
            <div class="uk-width-1-1">
                <article class="uk-article">
                    <h3 class="uk-article-title uk-text-truncate"><a href="blog/{{ blog.id }}">{{ blog.name }}</a></h3>
                    <p class="uk-article-meta"><small>发表于 {{ blog.created_at|datetime }}</small></p>
                    <div class="blog-summary" hidden="hidden">
                        {{ blog.content|marked|safe }}
                    </div>
                    <span class="uk-align-right"><a href="blog/{{ blog.id }}">阅读更多</a></span>
                    <hr class="uk-width-1-1 uk-article-divider" />
                </article>
            </div>
        </div>
        {% endfor %}
    </div>

    <nav class="uk-width-1-1 uk-margin-top">
        <ul class="uk-pagination">
            {% if page.index == 1 %}
                <li class="uk-active"><span>1</span></li>
            {% else %}
                <li><a href="?tag={{tag}}&amp;page=1&amp;size={{page.limit}}" >1</a></li>
            {% endif %}
            {% if (page.index - 1) > 3 %}
                <li class="disabled"><span>...</span></li>
            {% endif %}
            {% for index in range(2, page.last) if (index - page.index) | abs < 3 %}
                {% if page.index == index %}
                    <li class="uk-active"><span>{{index}}</span></li>
                {% else %}
                    <li><a href="?tag={{tag}}&amp;page={{index}}&amp;size={{page.limit}}" >{{index}}</a></li>
                {% endif %}
            {% endfor %}
            {% if (page.last - page.index) > 3 %}
                <li class="disabled"><span>...</span></li>
            {% endif %}
            {% if page.last > 1 and page.index == page.last %}
                <li class="uk-active"><span>{{page.last}}</span></li>
            {% elif page.last > 1 %}
                <li><a href="?tag={{tag}}&amp;page={{page.last}}&amp;size={{page.limit}}" >{{page.last}}</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block script %}
<script>
$('.blog-summary').each(function() {
    $(this).children('*:gt(2)').remove();
    $(this).append('<p>......</p>');
    $(this).fadeIn();
});
</script>
{% endblock %}