@charset "UTF-8";
/**
 *
 * @authors moling (365024424@qq.com)
 * @date    2016-05-27 20:34:36
 * @version $Id$
 */

.form-vm {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-vm .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-vm .form-control:focus {
  z-index: 2;
}
.form-vm input {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.blog-post-meta {
margin-bottom: 25px;
color: #999;
}

#footer {
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

/* 小屏幕（平板，大于等于768像素） */
@media (min-width: 768px) {

}

/*  中屏幕（桌面显示器，大于等于992像素） */
@media (min-width: 992px) {

}

/*  大屏幕（大桌面显示器，大于等于1200像素） */
@media (min-width: 1200px) {

}

