@charset "UTF-8";
/**
 *
 * @authors moling (365024424@qq.com)
 * @date    2016-05-27 20:34:36
 * @version $Id$
 */
#vm-form {
  max-width: 400px;
  margin: 0 auto;
}

.blog-post-meta {
margin-bottom: 25px;
color: #999;
}

#manage-table{
    table-layout: fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}
#manage-table td{
    width: 100%;
    word-break: keep-all;/* 不换行 */
    white-space: nowrap;/* 不换行 */
    overflow: hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一 起使用。*/
}

#footer {
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

/* 小屏幕（平板，大于等于768像素） */
@media (min-width: 768px) {

}

/*  中屏幕（桌面显示器，大于等于992像素） */
@media (min-width: 992px) {

}

/*  大屏幕（大桌面显示器，大于等于1200像素） */
@media (min-width: 1200px) {

}

